body{
background-color:blanchedalmond;
}
.img_topo{
    width: 100%;
    height: 30%;
}
.img_corpo{
    width: 20%;
}
.container{
    width: 80%;
    margin:auto;
}
h1{
    text-align: center;
    font-size: 2.0em;
    color: #8B4513;
    padding: 1%;
}
p{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
h2{
    font-size: 2.0em;
    padding: 1%;
    text-align: center;
}
.menu{
    background-color: #FFDEAD;
    padding: 1%;
}
.itens_menu{
    text-align: center;
    font-size: 1.2em;
}
.logo{
    font-size: 1.5em;
}
figure{
    text-align: center;
}
footer{
    background-color: #FFDEAD;
    padding: 1%;
    margin-top: 2%;
    font-size: 0.7em;
}
.center{
    padding-top: 2%;
}
.titulo_meu_caos{
    font-size: 1.5em;
}
.musica{
    text-align:center;
    font-size: 1.5em;
}
.capa_meu_caos{
    float: left;
    width: 20%;
}
.desenho_meu_caos{
    float: right;
    width: 15;
    padding-bottom: 5%;
}
.botao{
    background-color: #e7e7e7; color: black; /* Gray */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.itens_menu a:link{
    color:darkred
}
.itens_menu a:hover{
    color: black;
    background-color: rgb(244,164,96);
}
